<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webPageBlog</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="shortcut icon" href="usha.icon.png" type="image/x-icon">
</head>
<body>
  <div id="bac">
    <div id="nav">
      <a href="/blog">Bloggy</a>
      <div class="links">
        <a href="/blog">Blog page</a>
        <a href="/features">Features</a>
        <a href="/contains">Contains</a>
        <a href="/about us">About us</a>
      </div>
      <div class="btn">
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </div>
  </div>
  <div id="box">
    <h1>Hey User, we've somthing really good for <br>you,<span>Today.</span></h1>
    <a href="#">Explore more <i class="ri-arrow-right-line"></i></a><br>
    <div id="containts">
      <div id="index">
        <div class="in"><i class="ri-heart-line"></i><h4>Liked Posts</h4></div>
        <div class="in"><i class="ri-user-heart-line"></i><h4>New User</h4></div>
        <div class="in"><i class="ri-quill-pen-fill"></i><h4>Recent Post</h4></div>
      </div>
      <div id="inner">
        <div class="inners">
          <div class="pic"></div>
          <div class="con">
            <h4>Lorem ipsum dolor sit amet</h4>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam a odit odio quos ruba quas obcaecati reprehenderit corrupti nemo alias earum...</p>
            <div class="icon">
              <i class="ri-user-heart-line"></i>
              <i class="ri-user-heart-line"></i>
            </div>
          </div>
        </div>
        <div class="inners">
          <div class="pic"></div>
          <div class="con">
            <h4>Lorem ipsum dolor sit amet</h4>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam a odit odio quos quas dilbar obcaecati reprehenderit corrupti nemo alias earum...</p>
            <div class="icon">
              <i class="ri-user-heart-line"></i>
              <i class="ri-user-heart-line"></i>
            </div>
          </div>
        </div>
        <div class="inners">
          <div class="pic"></div>
          <div class="con">
            <h4>Lorem ipsum dolor sit amet</h4>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam a odit odio quos quas obcaecati reprehenderit corruptiop opps nemo alias earum...</p>
            <div class="icon">
              <i class="ri-user-heart-line"></i>
              <i class="ri-user-heart-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="btm">search here <i class="ri-search-line"></i></div>
    </div>
  </div>
</div>
</body>
</html>