<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div id="log">
        <div id="con">
         <div class="over">
             <div class="uper">
               <a href="/"><i class="ri-home-2-line"></i></a> 
                <i class="ri-heart-line"></i>
                <i class="ri-search-line"></i>   
             </div>
            
             <h4> <span>Let's </span>Create!</h4>
             <h3>SOMETHING</h3>
             <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
         </div>
        </div>
         <div id="login">
            <h4>Login</h4>
            <form action="/login" method="POST">
            <input type="text" placeholder="username" name="username">
            <input type="text" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <button>Login</button>
            </form>
            <a href="/register">Resister New Account</a>
            <a href="#">forgot password</a>
        </div>
    </div>
</body>
</html>