<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <div id="nav">
      <a href="/"><i class="ri-arrow-left-line"></i>Go To the Home Page</a>
      <a href="/login">logout</a>
      <div class="profile">
          <div class="left">
            <div class="pic"></div>
            <div class="text">
                <h5>Alisha Stark</h5>
                <h6>Lorem ipsum</h6>
            </div>
          </div>
          <div class="right">
              <h3>All Posts</h3>
              <div class="post">
                  <div class="top">
                    <div class="gol"></div>
                    <div class="nam">
                        <h3>Alisha stark</h3>
                        <h4>Lorem ipsum</h4>
                    </div>
                  </div>
                  <div class="bot">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea voluptates animi harum quae non, nobis optio modi tempora, aliquid quod, adipisci obcaecati!</p>
                  </div>
                  <div class="cop">
                    <i class="ri-user-heart-line"></i>
                  </div>
              </div>
              <div class="post">
                <div class="top">
                  <div class="gol"></div>
                  <div class="nam">
                      <h3>Alisha stark</h3>
                      <h4>Lorem ipsum</h4>
                  </div>
                </div>
                <div class="bot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea voluptates animi harum quae non, nobis optio modi tempora, aliquid quod, adipisci obcaecati!</p>
                </div>
                <div class="cop">
                  <i class="ri-user-heart-line"></i>
                </div>
            </div>
            <div class="post">
                <div class="top">
                  <div class="gol"></div>
                  <div class="nam">
                      <h3>Alisha stark</h3>
                      <h4>Lorem ipsum</h4>
                  </div>
                </div>
                <div class="bot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea voluptates animi harum quae non, nobis optio modi tempora, aliquid quod, adipisci obcaecati!</p>
                </div>
                <div class="cop">
                  <i class="ri-user-heart-line"></i>
                </div>
            </div>
            <div class="post">
                <div class="top">
                  <div class="gol"></div>
                  <div class="nam">
                      <h3>Alisha stark</h3>
                      <h4>Lorem ipsum</h4>
                  </div>
                </div>
                <div class="bot">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ea voluptates animi harum quae non, nobis optio modi tempora, aliquid quod, adipisci obcaecati!</p>
                </div>
                <div class="cop">
                  <i class="ri-user-heart-line"></i>
                </div>
            </div>
          </div>
      </div>
    </div>
</body>
</html>