<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registretion Page</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/reg.css">

</head>
<body>
  <div id="model">
    <form action="/register" method="POST">
      <h4>Register Page</h4>
      <p>Full Name</p>
      <input type="name" placeholder="Fullname" name="name">
      <p>Username</p>
      <input type="username" placeholder="username" name="username">
      <p>Phone no.</p>
      <input type="text" placeholder="Phone no." name="number">
      <p>Email Id</p>
      <input type="email" placeholder="email" name="email">
      <p>Password</p>
      <input type="password" placeholder="password" name="password">
      <input type="submit" value="Get Register"><br>
      <a href="/login"><i class="ri-arrow-left-line"></i>already have an account!</a>
  </form>
  </div>
</body>
</html>
